# Tele Call Center
* Null Hypothesis: The defective percentage doesn't vary by center
* Alternative Hypothesis: The defective percentage varies by center

In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [13]:
data = pd.read_csv('C:/Users/Dell/Desktop/Assignments/Hypothesis Testing/CostomerOrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [16]:
data1 = pd.get_dummies(data)

In [17]:
data1

,Phillippines_Defective,Phillippines_Error Free,Indonesia_Defective,Indonesia_Error Free,Malta_Defective,Malta_Error Free,India_Defective,India_Error Free
0,0,1,0,1,1,0,0,1
1,0,1,0,1,0,1,1,0
2,0,1,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1
4,0,1,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...
295,0,1,0,1,0,1,0,1
296,0,1,0,1,0,1,0,1
297,0,1,0,1,1,0,0,1
298,0,1,0,1,0,1,0,1
299,0,1,1,0,1,0,0,1

# Using Chi-square Method

In [19]:
result = scipy.stats.chi2_contingency(data1)

In [21]:
result1 = [[' ', 'Test Statistic', 'p-value'], ['Sample Data', result[0], result[1]]]
result1

[[' ', 'Test Statistic', 'p-value'], ['Sample Data', 1200.0, 1.0]]

# Since the p-value > (0.05), we accept the Null Hypothesis